<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
    <h2>Statistics</h2>  
    <ul>
      <li>Idol: {{ idolList }}</li>
      <li>Spineless: </li>
      <li>Definition of Charisma: </li>
    </ul>

    <h1>Seinfeld characters:</h1>
    <p v-if="characterList.length === 0">There are no characters..</p>
    <ul v-else>
      <li v-for="character in characterList">
        <p>{{ character.name }}</p>
        <button @click="favoriteCharacter(character)">Add to Favorite</button>
      </li>
    </ul>
    <h2>Favorite Characters</h2>
    <ul v-if="favoriteList.length > 0">
      <li v-for="favorite in favoriteList">{{ favorite.name }}</li>
    </ul>
    <p v-else>No favorite characters yet</p>

    <pre>
      {{ newCharacter }}
    </pre>
    <label for="character-name">Name</label>
    <input 
      type="text" 
      v-model="newCharacter.name" 
      @keyup.enter="addNewCharacter"
    />



    <p><span  v-for="(character, index) in characterList">{{ character.name }}{{index === characterList.length - 1 ? "" : ", "}}</span></p>
  </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data: () => ({
          newCharacter: {
            name: "",
            characteristics: [],
          },
          characterList : [ 
            { name: "George", characteristics: ["spineless"] }, 
            { name: "Kramer", characteristics: ["definition of charisma", "idol", "spineless"] }, 
            { name: "Elaine", characteristics: ["idol", "spineless"] }, 
            { name: "Jerry" , characteristics: ["what to say..", "spineless"]}
          ],
          favoriteList: [],
        }),
        computed: {
          idolList() {
            return this.characterList.filter(character => 
            character.characteristics.includes("idol")
            ).length;
          }
        },
        methods: {
          addNewCharacter() {
            this.characterList.push(this.newCharacter);
            this.newCharacter = ({ name: "" })
          },
          favoriteCharacter(character) {
            if(!this.favoriteList.find(fav => fav.name === character.name)) {
              this.favoriteList.push(character)
            }
          }
        }
      }).mount("#app");

      
    </script>
  </body>
</html>
