<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Complete Intro to Vue 3</title>
  </head>
  <body>
    <h1>yo yo ye</h1>
    <div id="app">
      <h1>{{ displayTitle }}</h1>
      <p v-bind:data-increment-by="incrementAmount">{{ count }}  </p>
      <button @click="incrementCount">Increment Count</button>

      <h1>{{ incrementAmount }}</h1>
      <h3>optimizedIncrementAmount: {{ optimizedIncrementAmount }}</h3>

      <div>
        <label>Increment by: </label>
        <input 
          type="number"
          v-model="incrementAmount"
        /> 
        <!-- v-bind:value="incrementAmount" 
          v-on:input="changeIncrementAmount" --> 
      </div>
      <hr />

      <p v-if="message.length % 2 === 0"> Even:
        {{ message.toUpperCase()}}
      </p>
      <p v-else> Odd:
        {{ message }}
      </p>
      <ul>
        <li v-for="number in listOfNumbers">{{ number * Math.random() }}</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue;

      const app = createApp({
        data() {
          return {
            counterTitle: "Counter Standard",
            message: "Hello it works",
            listOfNumbers : [1,2,3,4,5], 
            count: 10,
            incrementAmount: 3,
          }
        },
        //like useMemo in React; use when you have multiple dependencies; it is aobut managing data
        computed: {
          displayTitle () {
            if(this.count > 20) {
              return this.counterTitle + ' Very Long'
            } else {
              return this.counterTitle
            }
          },
          optimizedIncrementAmount() {
            return this.displayTitle.length * this.incrementAmount;
          } 
        },
        methods: {
          /*changeIncrementAmount(event) {
            this.incrementAmount = Number(event.target.value);
           }, */
           incrementCount() {
            this.count += this.optimizedIncrementAmount;
           }
        },
        //like useEffect in React; use when you want to create a side effect; it is about managing, triggering actions
        watch: {
          /* count(newValue) {
            if(newValue > 15) {
              this.counterTitle  += ' very long';
            }
          } */
        }
      });

      app.mount("#app");

    </script>
  </body>
</html>
